.header {
    font-family: "Kaushan Script",serif;
    grid-area: h;
    background-color: black;
    }

.header img {
      width: 60px;
    }

.header h1{
    margin-right: 10px;
      color:white;
      float: right;
      text-align: center;
    }