.nav {
    font-family: "Kaushan Script", serif;
    font-size: large;
    padding: 10px;
    grid-area: n;
  background-color: #A98307;
  }
.nav hr{
    width: 70px;
    margin-left: 0 ;
}

  .item a {
      color: white;
      text-decoration: none;
  }
  .item a.active {
      color: black;
  }

  .ava_friends img {
      margin: 5px;
      width: 40px;
      height: 40px;
      border-radius: 20px;
  }