.formControl.error input,
.formControl.error textarea {
border: 3px solid rebeccapurple;
}

.error span{
    color: rebeccapurple;
}

.formSummaryError{
    width: 250px;
    height: 30px;
    border: solid 1px red;
    color: black;
    text-align: center;
}