.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.dialogsItems {
    padding: 10px;
}

.dialogsItems a.active{
    color: gold;

}

.dialog a{
    text-decoration: none;
    color: white;

}
.dialog a:hover{
    color: darkorange;
}
.messages {
    padding: 10px;
}

.message {

}